@import '../../../../../scss/variables';

:host {
  border: 0 solid #e1e1e1;
  border-bottom-width: 1px;
  display: block;
  height: 48px;
  padding: 0 16px;
}

nav a {
  color: $lap-pool-blue;
  font-size: 14px;
  font-weight: 600;
  line-height: 48px;
  margin-right: 20px;
  text-decoration: none;
  vertical-align: middle;
  cursor: pointer;
}

nav a.router-link-active {
  color: $primary;
}
