@import './variables';

:host {
  border: 0 solid #e1e1e1;
  border-bottom-width: 1px;
  display: block;
  height: 48px;
  padding: 0 16px;
}

nav.nav-container {
  display: flex;
  flex-flow: row;
}

nav a {
  color: $lap-pool-blue;
  font-size: 16px;
  font-weight: 600;
  line-height: 40px;
  text-decoration: none;
  vertical-align: middle;
  cursor: pointer;
  padding: 12px;
  border-bottom: thick solid white;
  text-transform: uppercase;
}

nav a.router-link-active {
  color: $primary;
}

.spacer {
  flex-grow: 1;
}
