<GridLayout columns="auto, auto" width="100%" rows="auto" horizontalAlignment="left" class="nav">
  <Button [nsRouterLink]="['/']" nsRouterLinkActive="active" [text]="'HOME'" pageTransition="slideLeft" row="0" col="1"></Button>
  <Button [nsRouterLink]="['/novel']" nsRouterLinkActive="active" [text]="'NOVEL'" pageTransition="slideLeft" row="0" col="2"></Button>
  <Button [nsRouterLink]="['/art']" nsRouterLinkActive="active" [text]="'ART'" pageTransition="slideLeft" row="0" col="3"></Button>
  <Button [nsRouterLink]="['/manga']" nsRouterLinkActive="active" [text]="'MANGA'" pageTransition="slideLeft" row="0" col="4"></Button>
  <Button [nsRouterLink]="['/about']" nsRouterLinkActive="active" [text]="'ABOUT'" pageTransition="slideLeft" row="0" col="5"></Button>
</GridLayout>
