<nav class="nav-container">
  <span *ngFor="let link of links; let i = index">
    <a (mouseenter)="switcher(i)" (mouseleave)="switcher(i)" [@highlight]="navSelect[i]"
       routerLink="{{ link.link }}">{{ link.name }}</a>
  </span>
  <span class="spacer"></span>
  <span class="login-container" *ngIf="this.status == 'guest'">
    <a (mouseenter)="switcher(5)" (mouseleave)="switcher(5)" [@highlight]="navSelect[5]"
       (click)="openDialog()">Log In</a>
  </span>
  <span class="logout-container" *ngIf="this.status != 'guest'">
    <a (mouseenter)="switcher(5)" (mouseleave)="switcher(5)" [@highlight]="navSelect[5]"
       (click)="logout()">Log Out</a>
  </span>
</nav>



