<nav>
  <a [routerLink]="['/']" [routerLinkActive]="['router-link-active']" [routerLinkActiveOptions]="{exact:true}">{{'HOME' | translate}}</a>
  <a [routerLink]="['/novel']" [routerLinkActive]="['router-link-active']" [routerLinkActiveOptions]="{exact:true}">{{'NOVEL' | translate}}</a>
  <a [routerLink]="['/art']" [routerLinkActive]="['router-link-active']" [routerLinkActiveOptions]="{exact:true}">{{'ART' | translate}}</a>
  <a [routerLink]="['/manga']" [routerLinkActive]="['router-link-active']" [routerLinkActiveOptions]="{exact:true}">{{'MANGA' | translate}}</a>
  <a [routerLink]="['/about']" [routerLinkActive]="['router-link-active']" [routerLinkActiveOptions]="{exact:true}">{{'ABOUT' | translate}}</a>
</nav>

