@import '../../../scss/variables';

:host {
  font-family: Gentium Basic, sans-serif;
  display: block;
  padding: 0 16px;
}

div.terms-body {
  padding: 0 4em;
}

p[md-list-icon] {
  color: $deckled-edge;
}

h2.detail {
  text-align: justify;
}

h2[md-line].amendment-title {
  color: $alert;
  font-weight: 800;
  padding: 0.5em;
}

md-list-item.amendment-list {
  padding: 2em 0;
}

.clickable {
  cursor: pointer;
}

.terms-body {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

.terms-body .test-template {
  height: 200px;
  width: 200px;
  padding: 20px 0;
  display: flex;
  flex-flow: row wrap;
}

.terms-body .test-template .temp-img-container {
  width: 100%;
  height: 90%;
  display: flex;
  justify-content: center;
}

.terms-body .test-template .temp-image {
  height: 100%;
  max-width: 200px;
}

.terms-body .test-template .temp-author {
  max-height: 10%;
  padding-bottom: 20px;
  width: 100%;
}

@media screen and (min-width: 900px){
  .mat-list-item .mat-line:nth-child(n+2) {
    font-size: 1.1em;
  }
}

@media screen and (max-width: 900px) and (min-width: 600px){
  md-list-item.amendment-list {
    padding: 3em 0;
  }
}

@media screen and (max-width: 600px) {
  div.terms-body {
    padding: 0;
  }

  md-list-item.amendment-list {
    padding: 3.5em 0;
  }

  h2.detail {
    font-size: 1.2em;
  }
}
