<body class="home-body">
  <h1>The portal to all your needs</h1>

  <div class="list-group">
    <div class="list-container">
      <md-list>
        <h2 md-subheader>Recent Novel</h2>
        <md-list-item>
          <md-icon md-list-icon>collections</md-icon>
          <h3 md-line>Title</h3>
          <p md-line>Author Name</p>
          <p md-line>Date</p>
        </md-list-item>
        <md-list-item>
          <md-icon md-list-icon>book</md-icon>
          <h3 md-line>Chapter 284: The Grand Battle between Monsters</h3>
          <p md-line>Reigokai</p>
          <p md-line>Oct. 4, 2017</p>
        </md-list-item>
        <md-list-item>
          <md-icon md-list-icon>book</md-icon>
          <h3 md-line>Chapter 284: The Grand Battle between Monsters</h3>
          <p md-line>Reigokai</p>
          <p md-line>Oct. 4, 2017</p>
        </md-list-item>
        <md-list-item>
          <md-icon md-list-icon>book</md-icon>
          <h3 md-line>Chapter 284: The Grand Battle between Monsters</h3>
          <p md-line>Reigokai</p>
          <p md-line>Oct. 4, 2017</p>
        </md-list-item>
        <md-list-item>
          <md-icon md-list-icon>book</md-icon>
          <h3 md-line>Chapter 284: The Grand Battle between Monsters</h3>
          <p md-line>Reigokai</p>
          <p md-line>Oct. 4, 2017</p>
        </md-list-item>
      </md-list>
    </div>
    <div class="list-container">
      <md-list>
        <h2 md-subheader>Recent Art</h2>
        <md-list-item>
          <md-icon md-list-icon>collections</md-icon>
          <h3 md-line>Title</h3>
          <p md-line>Author Name</p>
          <p md-line>Date</p>
        </md-list-item>
        <md-list-item>
          <md-icon md-list-icon>color_lens</md-icon>
          <h3 md-line>Going to the Beach</h3>
          <p md-line>Bob</p>
          <p md-line>Oct. 1, 2017</p>
        </md-list-item>
        <md-list-item>
          <md-icon md-list-icon>color_lens</md-icon>
          <h3 md-line>Going to the Beach</h3>
          <p md-line>Bob</p>
          <p md-line>Oct. 1, 2017</p>
        </md-list-item>
        <md-list-item>
          <md-icon md-list-icon>color_lens</md-icon>
          <h3 md-line>Going to the Beach</h3>
          <p md-line>Bob</p>
          <p md-line>Oct. 1, 2017</p>
        </md-list-item>
      </md-list>
    </div>
    <div class="list-container">
      <md-list>
        <h2 md-subheader>Recent Manga</h2>
        <md-list-item>
          <md-icon md-list-icon>collections</md-icon>
          <h3 md-line>Title</h3>
          <p md-line>Author Name</p>
          <p md-line>Date</p>
        </md-list-item>
        <md-list-item>
          <md-icon md-list-icon>dashboard</md-icon>
          <h3 md-line>Chapter 881: One Piece</h3>
          <p md-line>Oda Eiichiro</p>
          <p md-line>Oct. 3, 2017</p>
        </md-list-item>
        <md-list-item>
          <md-icon md-list-icon>dashboard</md-icon>
          <h3 md-line>Chapter 881: One Piece</h3>
          <p md-line>Oda Eiichiro</p>
          <p md-line>Oct. 3, 2017</p>
        </md-list-item>
        <md-list-item>
          <md-icon md-list-icon>dashboard</md-icon>
          <h3 md-line>Chapter 881: One Piece</h3>
          <p md-line>Oda Eiichiro</p>
          <p md-line>Oct. 3, 2017</p>
        </md-list-item>
      </md-list>
    </div>
    <div class="list-container">

    </div>
  </div>

</body>

<!--<form (submit)="addName()">-->
<!--<input [(ngModel)]="newName" name="newName" [placeholder]="'INPUT_HINT' | translate">-->
<!--<button type="submit">{{'ADD_BTN_TEXT' | translate}}</button>-->
<!--</form>-->

