@import '../../../scss/variables';

:host {
  font-family: Gentium Basic, sans-serif;
  display: block;
  padding: 0 16px;
}

h3, p, a {
  z-index: 1;
  font-family: Gentium Basic, sans-serif;
  margin: auto;
}

h3 > a {
  text-shadow: 2px 3px 2px rgba(0,0,0,0.2);
  font-size: 30px;
  white-space: -moz-pre-wrap !important;  /* Mozilla, since 1999 */
  white-space: -pre-wrap;      /* Opera 4-6 */
  white-space: -o-pre-wrap;    /* Opera 7 */
  white-space: pre-wrap;       /* css-3 */
  word-wrap: break-word;       /* Internet Explorer 5.5+ */
  white-space: -webkit-pre-wrap; /* Newer versions of Chrome/Safari*/
  white-space: normal;
}

h2[md-subheader] {
  text-transform: uppercase;
  font-weight: 700;
}

h2, p[md-line] {
  font-size: 20px !important;
}

a:link, a:visited {
  color: $primary;
  text-decoration: none;
}

a:hover {
  color: $alert;
  text-decoration: underline;
}

/deep/ .mat-tab-label{
  font-size: 20px;
  font-family: Gentium Basic, sans-serif;
}

/deep/ .mat-ink-bar {
  background-color: $alert !important;
  min-width: 80px;
}

div.list-group {
  display: flex;
  flex-flow: column;
  justify-content: center;
}

div.list-container {
  min-width: 350px;
  width: 100%;

}

md-icon {
  color: $alert;
}

md-icon[md-list-avatar].media-img, md-icon[md-list-avatar].media-img > img {
  height: 160px;
  width: 140px;
  border-radius: 5%;
  background-size: contain;
}

@media screen and (max-width: 600px) {
  p[md-line].home-description {
    display: none !important;
  }
}
