@import '../../../scss/variables';

:host {
  display: block;
  padding: 0 16px;
}

input {
  width: 250px;
}

ul {
  list-style-type: none;
  padding: 0 0 0 8px;
}

.smile {
  background: url("../../../assets/svg/smile.svg");
  height: 48px;
  width: 48px;
  display: inline-block;
  transform: scale(0.6);
  margin-top: -25px;
  position: relative;
  top: 16px;
}

h1, h3 {
  margin: auto;
}

a.link:hover {
  color: #f00;
}

.home-body {
  background-color: $lap-pool-blue;
  margin: auto;
  width: 70%;
  padding: 10px;
  height: 100%;
}

div.list-group {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

div.list-container {
  min-width: 50%;
}
