@import '../../../scss/variables';

:host {
  display: block;
  padding: 0 16px;
}

h1, h3 {
  margin: auto;
}

h3 > a {
  font-size: 20px;
}

a:link, a:visited {
  color: $primary;
  text-decoration: none;
}

a:hover {
  color: $secondary;
  text-decoration: underline;
}

@media all and (max-width: 500px) {
  body.home-body {
    width: 100% !important;
  }

  div.list-container {
    min-width: 280px !important;
  }

  h3 > a {
    font-size: inherit;
  }
}

body.home-body {
  background-color: $lap-pool-blue;
  margin: auto;
  width: 70%;
  padding: 10px;
  height: 100%;
}

div.list-group {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

div.list-container {
  min-width: 350px;
  width: 50%;
}

md-icon {
  color: $alert;
}
