@import '../../../scss/variables';

:host {
  font-family: 'Gentium Basic';
  display: block;
  padding: 0 16px;
}

h1 {
  font-family: Cinzel;
  margin: auto;
  font-size: 40px;
  letter-spacing: 5px;
  text-transform: uppercase;
  color: $deckled-edge;
  border-width: 0px 0px 10px 0px;
  border-style: double;
  border-color: $primary;
}

h3, p, a {
  font-family: 'Gentium Basic';
  margin: auto;
}

h3 > a {
  font-size: 30px;
}

h2, p[md-line] {
  font-size: 20px !important;
}

a:link, a:visited {
  color: $primary;
  text-decoration: none;
}

a:hover {
  color: $alert;
  text-decoration: underline;
}

@media all and (max-width: 500px) {
  body.home-body {
    width: 100% !important;
  }

  div.list-container {
    min-width: 280px !important;
  }

  h1 {
    font-size: 28px;
  }

  h3 > a {
    font-size: 23px;
    white-space: -moz-pre-wrap !important;  /* Mozilla, since 1999 */
    white-space: -pre-wrap;      /* Opera 4-6 */
    white-space: -o-pre-wrap;    /* Opera 7 */
    white-space: pre-wrap;       /* css-3 */
    word-wrap: break-word;       /* Internet Explorer 5.5+ */
    white-space: -webkit-pre-wrap; /* Newer versions of Chrome/Safari*/
    white-space: normal;
  }

  p[md-line].description {
    display: none;
  }
}

body.home-body {
  background-color: $lap-pool-blue;
  margin: auto;
  width: 70%;
  padding: 10px;
  height: 100%;
}

div.list-group {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

div.list-container {
  min-width: 350px;
  width: 50%;
}

md-icon {
  color: $alert;
}

p[md-line].description {
  white-space: -moz-pre-wrap !important;  /* Mozilla, since 1999 */
  white-space: -pre-wrap;      /* Opera 4-6 */
  white-space: -o-pre-wrap;    /* Opera 7 */
  white-space: pre-wrap;       /* css-3 */
  word-wrap: break-word;       /* Internet Explorer 5.5+ */
  white-space: -webkit-pre-wrap; /* Newer versions of Chrome/Safari*/
  white-space: normal;
  text-align: justify;
}
