<body class="home-body">
  <h1>The portal to all your needs</h1>
  <div class="list-group">
    <div class="list-container">
      <md-list>
        <h2 md-subheader>Recent Novel</h2>
        <md-list-item *ngFor="let novel of novelList">
          <md-icon md-list-icon>{{ novel.icon }}</md-icon>
          <h3 md-line><a href="#">{{ novel.title }}</a></h3>
          <p md-line>{{ novel.author }}</p>
          <p md-line>{{ novel.date }}</p>
        </md-list-item>
      </md-list>
      <hr class="style1"/>
    </div>
    <div class="list-container">
      <md-list>
        <h2 md-subheader>Recent Art</h2>
        <md-list-item *ngFor="let art of artList">
          <md-icon md-list-icon>{{ art.icon }}</md-icon>
          <h3 md-line><a href="#">{{ art.title }}</a></h3>
          <p md-line>{{ art.author }}</p>
          <p md-line>{{ art.date }}</p>
        </md-list-item>
      </md-list>
      <hr class="style1"/>
    </div>
    <div class="list-container">
      <md-list>
        <h2 md-subheader>Recent Manga</h2>
        <md-list-item *ngFor="let manga of mangaList">
          <md-icon md-list-icon>{{ manga.icon }}</md-icon>
          <h3 md-line><a href="#">{{ manga.title }}</a></h3>
          <p md-line>{{ manga.author }}</p>
          <p md-line>{{ manga.date }}</p>
        </md-list-item>
      </md-list>
      <hr class="style1"/>
    </div>
    <div class="list-container">
    </div>
  </div>
</body>

<!--<form (submit)="addName()">-->
<!--<input [(ngModel)]="newName" name="newName" [placeholder]="'INPUT_HINT' | translate">-->
<!--<button type="submit">{{'ADD_BTN_TEXT' | translate}}</button>-->
<!--</form>-->

