<div class="toolbar-container">
  <div class="top-row">
    <!--<span class="spacer"></span>-->
    <md-list>
      <h2>Quick Links</h2>
      <md-list-item><a href="#">Home</a></md-list-item>
      <md-list-item><a href="#">Novel</a></md-list-item>
      <md-list-item><a href="#">Art</a></md-list-item>
      <md-list-item><a href="#">Manga</a></md-list-item>
      <md-list-item><a href="#">About</a></md-list-item>
    </md-list>
    <!--<span class="spacer"></span>-->
    <md-list>
      <h2>Donate</h2>
      <md-list-item><a href="#">Patreon</a></md-list-item>
      <md-list-item><a href="#">PayPal</a></md-list-item>
    </md-list>
    <!--<span class="spacer"></span>-->
    <md-list>
      <h2>Connect</h2>
      <md-list-item><a href="#">Facebook</a></md-list-item>
      <md-list-item><a href="#">Twitter</a></md-list-item>
    </md-list>
    <!--<span class="spacer"></span>-->
  </div>
  <div class="bottom-row">
    <h5>© 2017 HikiNEETO's Life | All rights reserved</h5>
  </div>
</div>
