@import './variables';

:host {
  font-family: 'Gentium Basic';
  background-color: $primary;
  color: $deckled-edge;
  display: block;
  height: 100%;
  padding: 0 16px;
  position: relative;
}

.top-row, .bottom-row {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}

.spacer {
  flex-grow: 1;
}

a {
  color: $deckled-edge;
  display: inline;
  font-size: 18px;
  font-weight: normal;
  letter-spacing: 0.1px;
  text-decoration: none;
  font-family: 'Gentium Basic';
}

a:hover {
  color: $secondary;
}

md-list-item {
  height: 30px;
}

md-list > h2 {
  color: $lap-pool-blue;
}
