@import '../scss/variables';
@import '../../../node_modules/@angular/material/prebuilt-themes/indigo-pink.css';
@import '../../../node_modules/css-star-rating/scss/star-rating.scss';

/* Reset */
html, body, div {
  border: 0;
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
  width: 100%;
}

body {
  display: flex;
  flex-direction: column;
}

body.default-body {
  background-color: $lap-pool-blue;
  margin: auto;
  width: 70%;
  padding: 10px;
  height: 100%;
}

h1.title {
  z-index: 1;
  font-family: Cinzel, sans-serif;
  margin: auto;
  font-size: 40px;
  letter-spacing: 5px;
  text-transform: uppercase;
  color: $deckled-edge;
  border-width: 0px 0px 10px 0px;
  border-style: double;
  border-color: $primary;
}

/* Box-sizing border-box */
*, *:before, *:after {
  box-sizing: border-box;
}

/* Set up a default font and some padding to provide breathing room */
body {
  font-family: Gentium Basic, sans-serif;
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

p {
  font-weight: 400;
  letter-spacing: 0.01em;
  margin-bottom: 1em;
  margin-top: 1em;
}

ul {
  margin: 10px 0 0;
  padding: 0 0 0 20px;
}

li {
  font-weight: 400;
  margin-top: 4px;
}

input {
  border: 1px solid $primary;
  font-size: 14px;
  height: 40px;
  outline: none;
  padding: 8px;
}

button {
  background-color: $primary;
  border-style: none;
  color: rgba(255, 255, 255, 0.87);
  cursor: pointer;
  display: inline-block;
  font-size: 14px;
  height: 40px;
  padding: 8px 18px;
  text-decoration: none;
}

button:hover {
  background-color: $secondary;
}

p[md-line].description {
  padding: 3em;
}

.mat-list .mat-list-item .mat-line, .mat-nav-list .mat-list-item .mat-line, .mat-selection-list .mat-list-item .mat-line {
  white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
  white-space: -pre-wrap;      /* Opera 4-6 */
  white-space: -o-pre-wrap;    /* Opera 7 */
  white-space: pre-wrap;       /* css-3 */
  word-wrap: break-word;       /* Internet Explorer 5.5+ */
  white-space: -webkit-pre-wrap; /* Newer versions of Chrome/Safari*/
  text-align: justify;
  padding: 5em;
}

@media screen and (max-width: 600px) {
  sd-navbar {
    display: none !important;
  }

  body.default-body {
    width: 100% !important;
  }

  div.list-container {
    min-width: 280px !important;
  }

  h1.title {
    font-size: 1.5em;
  }

  h3 > a {
    font-size: 23px;
  }

  md-icon[md-list-avatar].media-img, md-icon[md-list-avatar].media-img > img {
    height: 90% !important;
    width: 90% !important;
    position: absolute;
    left: 5%;
    top: 5px;
    opacity: 0.4;
  }
}

hr.style1 {
  border: 0;
  height: 1px;
  background-image: linear-gradient(to right, rgba(250, 181, 126, 0), rgba(140,45,49, 0.75), rgba(250, 181, 126, 0));
}

.mat-form-field {
  font-family: Gentium Basic, sans-serif;
  color: $primary;
}

.mat-form-field .mat-input-infix .mat-form-field-placeholder {
  font-family: Gentium Basic, sans-serif;
  color: $primary;
}

.mat-focused .mat-form-field-placeholder {
  font-family: Gentium Basic, sans-serif;
  color: $alert;

  &.mat-accent {
    color: $secondary;
  }

  &.mat-warn {
    color: $alert;
  }
}

.mat-form-field-ripple {
  background-color: $primary !important;

  &.mat-accent {
    background-color: $secondary !important;
  }

  &.mat-warn {
    background-color: $alert !important;
  }
}


button[md-raised-button] {
  font-family: Gentium Basic, sans-serif;
  font-size: 20px;
  font-weight: 700;

  background-color: $lap-pool-blue !important;
}

star-rating-comp:focus, star-rating-comp :focus {
  outline: none !important;
}
