<body class="default-body">
<h1 class="title">About HikiNEETO's Life</h1>
<div class="terms-body">
  <h2>Hikineeto's life is a hub of creative expression. Here you can post artwork, manga/comics, novels, and animations. Our goal is to create a thriving community of artists trying to express themselves in new and exciting ways.</h2>
  <md-list>
    <md-list-item class="amendment-list" *ngFor="let amendment of amendments">
      <p md-list-icon>{{ amendment.count }}</p>
      <h3 md-line>{{ amendment.title }}</h3>
      <p md-line class="description">{{ amendment.description }}</p>
    </md-list-item>
  </md-list>
</div>
</body>
