@import '../../../scss/variables';

:host {
  font-family: Gentium Basic, sans-serif;
  display: block;
  padding: 0 16px;
}

div.terms-body {
  padding: 0 4em;
}

p[md-list-icon] {
  color: $deckled-edge;
}

md-list-item.amendment-list {
  padding: 2em 0;
}

@media only screen and (max-width: 900px) and (min-width: 600px){
  md-list-item.amendment-list {
    padding: 3em 0;
  }
}

@media only screen and (max-width: 600px) {
  div.terms-body {
    padding: 0;
  }

  md-list-item.amendment-list {
    padding: 3.5em 0;
  }
}
