<ActionBar title="About" class="action-bar">
  <ActionItem nsRouterLink="/" ios.position="right" android.position="popup" [text]="'HOME'">
  </ActionItem>
  <ActionItem nsRouterLink="/novel" ios.position="right" android.position="popup" [text]="'NOVEL'">
  </ActionItem>
  <ActionItem nsRouterLink="/art" ios.position="right" android.position="popup" [text]="'ART'">
  </ActionItem>
  <ActionItem nsRouterLink="/manga" ios.position="right" android.position="popup" [text]="'MANGA'">
  </ActionItem>
  <ActionItem nsRouterLink="/about" ios.position="right" android.position="popup" [text]="'ABOUT'">
  </ActionItem>
  <ActionItem ios.position="right" android.position="popup" [text]="'LOG IN'">
  </ActionItem>
</ActionBar>

  <StackLayout class="p-20">
    <Label text="HikiNEETO's Life is a global project." textWrap="true" class="p"></Label>

    <StackLayout class="m-y-10">
      <Label text="Features" class="h1"></Label>
      <StackLayout class="hr-light"></StackLayout>
    </StackLayout>

  </StackLayout>
