@import './variables';

:host {
  font-family: Gentium Basic, sans-serif;
  background-color: $primary;
  color: $deckled-edge;
  display: block;
  height: 100%;
  padding: 0 16px;
  position: relative;
}

.toolbar-container {
  display: flex;
  flex-flow: row;
  align-items: center;
}

p.slogan {
  color: $lap-pool-blue;
  font-size: 14px;
  padding-left: 1em;
  margin: 0;
  margin-top: -10px;
}

.spacer {
  flex-grow: 1;
}

span {
  font-family: Gentium Basic, sans-serif;
}

h1, h1 > a {
  color: $deckled-edge;
  display: inline;
  font-size: 24px;
  font-weight: normal;
  letter-spacing: 0.1px;
  text-decoration: none;
  margin: 0;
}



span > button {
  height: 100%;
}

button > span {
  color: $alert;
}

button[md-icon-button]:hover {
  background-color: $primary;
  color: $secondary;
}

button[md-menu-item]:hover  {
  background-color: $deckled-edge !important;
}

.hikineetos-life-banner {
  height: 30px;
  padding-right: 10px;
}
