@import '../../../../../scss/variables';

:host {
  background-color: $primary;
  color: $deckled-edge;
  display: block;
  height: 100%;
  padding: 0 16px;
  position: relative;
}

.toolbar-container {
  display: flex;
  flex-flow: row;
}

.spacer {
  flex-grow: 1;
}

h1 {
  color: $deckled-edge;
  display: inline;
  font-size: 20px;
  font-weight: normal;
  letter-spacing: 0.1px;
}

span > button {
  height: 100%;
}

button > span {
  color: $alert;
}

button[md-menu-item]:hover  {
  background-color: $deckled-edge !important;
}
